<!-- FR.GOV CONTENT START -->
<div class="title"><span>Rule</span></div>

<div class="article" data-internal-id="632590">

  <div id="metadata_content_area">
    <h1>Agency Information Collection Activities; Submission for Office of Management and Budget Review; Comment Request; Medicated Feed Mill License Application; Extension</h1>

    <div class="metadata_share_bar">
      <p class="metadata">A Notice by <span class="agencies">the <a href="/agencies/food-and-drug-administration">Food and Drug Administration</a></span> on
        <a href="/articles/2013/05/10"><date datetime="2013-05-10"><span class="date" datetime="2013-05-10">05/10/2013</span></date></a>
      </p>

      <div class="share">
        <ul>
          <li class="clip_for_later">
            <form action="/my/clippings" class="add_to_clipboard formtastic entry" id="edit_entry_632590" method="post">
              <fieldset class="inputs"><ol>
                <li class="hidden optional" id="entry_document_number_input"><input id="entry_document_number" name="entry[document_number]" type="hidden" value="2013-11126" /></li>
              </ol></fieldset>
              <fieldset class="buttons"><ol>
                <li class="commit"><input class="update" id="entry_submit" name="commit" type="submit" value="Add to clipboard" /></li>
              </ol></fieldset>
            </form>
          </li>
          <li><a href="/articles/email-a-friend/2013-11126" class="button list social email tip_over" title="Email this article to a friend">Email</a></li>
          <li><a href="http://twitter.com/home?status=https%3A%2F%2Ffederalregister.gov%2Fa%2F2013-11126+%23gov20" class="button list social twitter tip_over" target="blank" title="Share on Twitter">Twitter</a></li>
          <li><a href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Ffederalregister.gov%2Fa%2F2013-11126&amp;t=Agency+Information+Collection+Activities%3B+Submission+for+Office+of+Management+and+Budget+Review%3B+Comment+Request%3B+Medicated+Feed+Mill+License+Application%3B+Extension" class="button list fb_link social facebook tip_over" target="blank" title="Share on Facebook">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
<!-- FR.GOV CONTENT END -->



<!-- BOOTSTRAP SCOPE START -->
<div class="bootstrap-scope">
<!-- BOOTSTRAP SCOPE START -->



<div class="wrapper">
  <div class="container fixed">

    <div class="clearfix" style="height: 100px;"></div>

    <div class="row doc doc-official">
      <div class="col-md-12">

        <div class="col-md-9 doc-content">
          <div class="row">
            <div class="fr-box fr-box-official">
              <div class="fr-seal-block fr-seal-block-header">
                <h6>Official Document</h6>
                <div class="row fr-seal-meta">
                  <div class="fr-seal-stamp">
                    <span class="fr-stamp"></span>
                  </div>
                  <div class="fr-seal-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit leo non sodales egestas. Sed dapibus facilisis felis sed dictum.  </p>
                  </div>
                </div>
              </div>
              <div class="content-block">
                <h4>Action</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit leo non sodales egestas.</p>
                <h4>Summary</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit leo non sodales egestas. Sed dapibus facilisis felis sed dictum. Etiam pharetra, ligula ac iaculis rhoncus, ante felis vehicula neque, vel ultrices ante turpis nec eros. Donec purus est, pellentesque eu nulla vitae, congue tincidunt dolor. Fusce quis consequat risus. Vestibulum et malesuada nisi. </p>
                <h4>Dates:</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <h4>Addresses:</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit leo non sodales egestas. Sed dapibus facilisis felis sed dictum. Etiam pharetra, ligula ac iaculis rhoncus, ante felis vehicula neque, vel ultrices ante turpis nec eros. Donec purus est, pellentesque eu nulla vitae, congue tincidunt dolor. Fusce quis consequat risus. Vestibulum et malesuada nisi. Morbi lorem magna, porta vestibulum bibendum eget, accumsan eget ligula. Vestibulum malesuada risus at malesuada sodales. Nullam augue lacus, aliquam id tempor vitae, consectetur semper dui. Vestibulum rutrum orci sed massa rhoncus lobortis. Cras dolor lorem, ultrices sed aliquet nec, fringilla quis metus. Aenean ac sagittis lorem. Curabitur fringilla cursus purus eget suscipit. Donec cursus vitae ligula at tristique.</p>
                <h4>Supplementary Information</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit leo non sodales egestas. Sed dapibus facilisis felis sed dictum. Etiam pharetra, ligula ac iaculis rhoncus, ante felis vehicula neque, vel ultrices ante turpis nec eros. Donec purus est, pellentesque eu nulla vitae, congue tincidunt dolor.</p>
                <h5>Electronic Submissions</h5>
                <p>Lorem ipsum dolor sit amet:</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit leo non sodales egestas. Sed dapibus facilisis felis sed dictum. Etiam pharetra, ligula ac iaculis rhoncus, ante felis vehicula neque, vel ultrices ante turpis nec eros. Donec purus est, pellentesque eu nulla vitae, congue tincidunt dolor.</p>
                <p>Lorem ipsum dolor sit amet:</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit leo non sodales egestas. Sed dapibus facilisis felis sed dictum. .</p>
                <h5>Written Submissions</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit leo non sodales egestas. Sed dapibus facilisis felis sed dictum. Etiam pharetra, ligula ac iaculis rhoncus, ante felis vehicula neque, vel ultrices ante turpis nec eros. Donec purus est, pellentesque eu nulla vitae, congue tincidunt dolor.</p>
                <p><i>Lorem ipsum dolor:</i> sit amet, consectetur adipiscing elit. Nunc blandit leo non sodales egestas. Sed dapibus facilisis felis sed dictum. Etiam pharetra, ligula ac iaculis rhoncus, ante felis vehicula neque, vel ultrices ante turpis nec eros. Donec purus est, pellentesque eu nulla vitae, congue tincidunt dolor. Fusce quis consequat risus. Vestibulum et malesuada nisi. Morbi lorem magna, porta vestibulum bibendum eget, accumsan eget ligula. Vestibulum malesuada risus at malesuada sodales. Nullam augue lacus, aliquam id tempor vitae, consectetur semper dui. Vestibulum rutrum orci sed massa rhoncus lobortis. Cras dolor lorem, ultrices sed aliquet nec, fringilla quis metus. Aenean ac sagittis lorem. Curabitur fringilla cursus purus eget suscipit. Donec cursus vitae ligula at tristique.</p>
                <p><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit leo non sodales egestas. Sed dapibus facilisis felis sed dictum:</i> Etiam pharetra, ligula ac iaculis rhoncus, ante felis vehicula neque, vel ultrices ante turpis nec eros. Donec purus est, pellentesque eu nulla vitae, congue tincidunt dolor. Fusce quis consequat risus. Vestibulum et malesuada nisi. Morbi lorem magna, porta vestibulum bibendum eget, accumsan eget ligula. Vestibulum malesuada risus at malesuada sodales. Nullam augue lacus, aliquam id tempor vitae, consectetur semper dui. Vestibulum rutrum orci sed massa rhoncus lobortis. Cras dolor lorem, ultrices sed aliquet nec, fringilla quis metus. Aenean ac sagittis lorem. Curabitur fringilla cursus purus eget suscipit. Donec cursus vitae ligula at tristique.</p>
                <p><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit leo non sodales egestas. Sed dapibus facilisis felis sed dictum. Etiam pharetra, ligula ac iaculis rhoncus, ante felis vehicula neque, vel ultrices ante turpis nec eros. Donec purus est, pellentesque eu nulla vitae, congue tincidunt dolor. Fusce quis consequat risus. Vestibulum et malesuada nisi. Morbi lorem magna, porta vestibulum bibendum eget, accumsan eget ligula.</i> Vestibulum malesuada risus at malesuada sodales. Nullam augue lacus, aliquam id tempor vitae, consectetur semper dui. Vestibulum rutrum orci sed massa rhoncus lobortis. Cras dolor lorem, ultrices sed aliquet nec, fringilla quis metus. Aenean ac sagittis lorem. Curabitur fringilla cursus purus eget suscipit. Donec cursus vitae ligula at tristique.</p>
              </div>
              <div class="fr-seal-block fr-seal-block-footer">
                <h6>Official Document</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 doc-aside doc-details">
          <div class="row">
            <div class="fr-box fr-box-small fr-box-official-alt">
              <div class="fr-seal-block fr-seal-block-header">
                <h6>Document Details</h6>
                <div class="row fr-seal-meta">
                  <div class="fr-seal-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit leo non sodales egestas. Sed dapibus facilisis felis sed dictum.  </p>
                  </div>
                </div>
              </div>
              <div class="content-block">
                <p>
                  <strong>Publication Date:</strong>
                  <a href="">Wednesday, February 20, 2013</a>
                </p>
                <dl>
                  <dt>Agencies:</dt>
                  <dd><a href="">Department of Health and Human Services</a></dd>
                  <dd><a href="">Food and Drug Administration</a></dd>
                </dl>
                <p>
                  <strong>Entry Type: </strong>  Proposed Rule
                </p>
                <p>
                  <strong>Action: </strong>  Notice; request for comments, data, and information.
                </p>
                <p>
                  <strong>Document Citation: </strong>  78 FR 11791
                </p>
                <p>
                  <strong>Document Number: </strong>  2013-03835
                </p>
                <p>
                  <strong>Page: </strong>  11791 -11793 (3 pages)
                </p>
                <p>
                  <strong>CFR: </strong>   <a href="">21 CFR 131</a>
                </p>
                <p>
                  <strong>Agency/Docket Number: </strong>    Docket No. FDA-2009-P-0147
                </p>
              </div>
              <div class="fr-seal-block fr-seal-block-footer">
                <h6>Document Details</h6>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 doc-details fr-box fr-box-small fr-box-enhanced">
              <div class="fr-seal-block fr-seal-block-header">
                <h6>Enhanced Content</h6>
                  <div class="row fr-seal-meta">
                  <div class="fr-seal-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit leo non sodales egestas. Sed dapibus facilisis felis sed dictum.  </p>
                  </div>
                </div>
              </div>
              <div class="content-block">
                <h4>Regulations.gov Docket Info</h4>
                <ul>
                  <li><strong>Lorem ipsum: </strong> Dolor sit amet, consectetur adipiscing elit. Nunc blandit leo non sodales egestas.</li>
                  <li><strong>Lorem ipsum: </strong> Vestibulum malesuada risus at malesuada sodales.</li>
                  <li><strong>Lorem ipsum: </strong> Etiam pharetra, ligula ac iaculis rhoncus, ante felis vehicula neque, vel ultrices ante turpis nec eros.</li>
                </ul>
                <h5>Supporting/Related</h5>
                <dl>
                  <dt>Materials:</dt>
                  <dd><a href="">Vestibulum malesuada risus at malesuada</a></dd>
                  <dd><a href="">Etiam pharetra ligula ac iaculis rhoncus</a></dd>
                  <dd><a href="">Dolor sit amet consectetur adipiscing elit</a></dd>
                </dl>
              </div>
              <div class="fr-seal-block fr-seal-block-footer">
                <h6>Enhanced Content</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix" style="height: 100px;"></div>

  </div>
</div>



<!-- BOOTSTRAP SCOPE END -->
</div>
<!-- BOOTSTRAP SCOPE END -->
