<!-- FR.GOV CONTENT START -->
<div class="title"><span>Wednesday, January 29th</span></div>
<!-- FR.GOV CONTENT END -->


<!-- BOOTSTRAP SCOPE START -->
<div class="bootstrap-scope">
<!-- BOOTSTRAP SCOPE START -->










<div class="wrapper">
  <div class="container fixed">


    <div class="row">
      <div class="fr-head-doc fr-head-doc-enhanced">
        <div class="col-md-3 fr-head-doc-label">
          <i class="icon-fr2-Calendar-alt"></i>
          <h4>Current Issue</h4>
        </div>
        <div class="col-md-9 fr-head-doc-meta">
          <ul>
            <li><a href="">62 Notices</a></li>
            <li><a href="">13 Proposed Rules</a></li>
            <li><a href="">12 Rules</a></li>
            <li><a href="">1 Presidential Document</a></li>
            <li><strong>355</strong> Pages</li>
            <li class="right">
              <i class="icon-fr2-pc"></i>
              View Public Inspection
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="row">
      <div class="fr-head-doc fr-head-doc-inspection">
        <div class="col-md-3 fr-head-doc-label">
          <i class="icon-fr2-stop-hand"></i>
          <h4>Public Inspection</h4>
        </div>
        <div class="col-md-9 fr-head-doc-meta">
          <div class="row">
            <div class="col-md-6">
              <p>col-md-6
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue vehicula tellus, vel faucibus odio tincidunt eu.  Vivamus congue vehicula tellus, vel faucibus odio tincidunt eu. 

                <a href="">Learn more about public inspection here.</a>
              </p>
            </div>
            <div class="col-md-6">
              <ul class="fr-topic-list with-stats">
                <li>
                  <h5>Special Filing</h5>
                  <span>updated at 03:14PM, on Tuesday, March 14th, 2013</span>
                  <div class="inspection-topic-list-stats">
                    <a href="">13 documents</a> from 14 agencies
                    <div>
                      <i class="icon-fr2-notice"></i> 23
                      <i class="icon-fr2-proposed_rule"></i> 3
                      <i class="icon-fr2-rule"></i> 5
                    </div>
                  </div>
                </li>
                <li>
                  <h5>Regular Filing</h5>
                  <span>updated at 03:14PM, on Tuesday, March 14th, 2013</span>
                  <div class="inspection-topic-list-stats">
                    <a href="">13 documents</a> from 14 agencies
                    <div>
                      <i class="icon-fr2-notice"></i> 23
                      <i class="icon-fr2-proposed_rule"></i> 3
                      <i class="icon-fr2-rule"></i> 5
                    </div>
                </li>
              </ul>
            </div>
          </div>

        </div>

        <div class="clearfix"></div>
      </div>
    </div>

    <!-- FR.GOV EMBEDDED SEARCH START -->
      <div class="row">
        <div class="embedded_search search_bar home-search-embedded">
          <form action="/articles/search" class="formtastic conditions" id="entry_search_form" method="get">
            <h3 class="with-icon">
              <span class="icon-fr2-pc"></span>
              Recent Site Updates
            </h3>

            <input id="conditions_term" name="conditions[term]" placeholder="Search term or citation" size="30" type="text">

            <ul>
              <li class="hidden optional" id="conditions_agency_ids_input">
                <input id="conditions_agency_ids" name="conditions[agency_ids]" type="hidden" value="145">
              </li>
            </ul>

            <input id="conditions_submit" name="commit" type="submit" value="Search">
            <span id="expected_result_count"></span>

            <div id="doc-type-filter">
              <ul>
                <li class="doc_notice first" data-filter-doc-type="notice" data-filter-doc-type-display="Notice" original-title="">
                  <div aria-hidden="true" class="icon-fr2 icon-fr2-notice"></div>
                </li>
                <li class="doc_proposed_rule" data-filter-doc-type="prorule" data-filter-doc-type-display="Proposed Rule" original-title="">
                  <div aria-hidden="true" class="icon-fr2 icon-fr2-proposed_rule"></div>
                </li>
                <li class="doc_rule last" data-filter-doc-type="rule" data-filter-doc-type-display="Rule" original-title="">
                  <div aria-hidden="true" class="icon-fr2 icon-fr2-rule"></div>
                </li>
              </ul>
            </div>

            <li class="check_boxes optional" id="conditions_type_input"><fieldset><legend class="label"><label for="conditions_type">Document Category</label></legend><ol><li><label for="conditions_type_rule"><input name="conditions[type][]" type="hidden" value=""><input id="conditions_type_rule" name="conditions[type][]" type="checkbox" value="RULE"> Rule</label></li><li><label for="conditions_type_prorule"><input name="conditions[type][]" type="hidden" value=""><input id="conditions_type_prorule" name="conditions[type][]" type="checkbox" value="PRORULE"> Proposed Rule</label></li><li><label for="conditions_type_notice"><input name="conditions[type][]" type="hidden" value=""><input id="conditions_type_notice" name="conditions[type][]" type="checkbox" value="NOTICE"> Notice</label></li><li><label for="conditions_type_presdocu"><input name="conditions[type][]" type="hidden" value=""><input id="conditions_type_presdocu" name="conditions[type][]" type="checkbox" value="PRESDOCU"> Presidential Document</label></li></ol></fieldset></li>
          </form>
        </div>
      </div>
    <!-- FR.GOV EMBEDDED SEARCH END -->



    <div class="row">
      <div class="nav-home-carousel">
        <ul class="nav">
          <li>
            <span class="icon-fr2-Coins-dollaralt"></span>
            Money
          </li>
          <li class="hover">
            <span class="icon-fr2-Eco"></span>
            Environment</li>
          <li>
            <span class="icon-fr2-Globe"></span>
            World</li>
          <li>
            <span class="icon-fr2-Lab"></span>
            Science &amp; <br>Technology
          </li>
          <li>
            <span class="icon-fr2-Factory"></span>
            Business &amp; <br>Industry
          </li>
          <li>
            <span class="icon-fr2-Medicine"></span>
            Health &amp; <br>Public Welfare
          </li>
        </ul>
        <div class="nav-content">
          <div class="row">
            <div class="col-md-7 carousel-item-container">
              <div class="carousel-item">
                <div>

                  <img src="http://placehold.it/382x200">
                </div>
                <ol class="carousel-indicators">
                  <li class="active"></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ol>
                <div class="clearfix"></div>
                <p>
                  Ut bibendum lacus sit amet volutpat mattis. Morbi et feug iat diam, at sagittis nunc. In hac habitasse platea dictumst. Etiam malesuada ligula tortor, et mollis velit.
                </p>
              </div>
            </div>
            <div class="col-md-5 fr-push carousel-list">
              <dl class="fr-topic-list with-stats">
                <dt>
                  <h4 class="with-icon lowercase">
                    <span class="icon-fr2-Eco"></span>
                    Suggested Searches
                    <a href="" class="more-details">view all</a>
                  </h4>
                </dt>
                <dd>
                  <a href="">Endangered &amp; Threatened Species</a>
                  <ul>
                    <li>1009 documents in the last year</li>
                    <li>
                      <i class="icon-fr2-Chat"></i>
                      23 open for comment
                    </li>
                  </ul>
                </dd>
                <dd>
                  <a href="">Taking of Marine Mammals</a>
                  <ul>
                    <li>1009 documents in the last year</li>
                    <li>
                      <i class="icon-fr2-Chat"></i>
                      23 open for comment
                    </li>
                  </ul>
                </dd>
                <dd>
                  <a href="">Fishery Management</a>
                  <ul>
                    <li>1009 documents in the last year</li>
                    <li>
                      <i class="icon-fr2-Chat"></i>
                      23 open for comment
                    </li>
                  </ul>
                </dd>
                <dd>
                  <a href="">Parks &amp; Recreation</a>
                  <ul>
                    <li>1009 documents in the last year</li>
                    <li>
                      <i class="icon-fr2-Chat"></i>
                      23 open for comment
                    </li>
                  </ul>
                </dd>
                <dd>
                  <a href="">Clean Air Act -- State Implmentation</a>
                  <ul>
                    <li>1009 documents in the last year</li>
                    <li>
                      <i class="icon-fr2-Chat"></i>
                      23 open for comment
                    </li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="row">
      <!-- FR.GOV AGENCY BROWSE (from nav) START -->
      <table class="fr-2-3 fr-table-stats fr-table">
        <thead>
          <tr>
            <th colspan="3">
              <h4 class="with-icon">
                <span class="icon-fr2-Temperature"></span>
                Popular Documents
              </h4>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <span class="icon-fr2-proposed_rule"></span>
              <a href="#" class="fr-doc-link">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
              <ul class="fr-link-stats">
                <li><i class="icon-fr2-Eye"></i> 354</li>
                <li><i class="icon-fr2-message"></i> 72</li>
                <li><i class="icon-fr2-Chat"></i> 998</li>
                <li><i class="icon-fr2-twitter"></i> 42</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <span class="icon-fr2-rule"></span>
              <a href="#" class="fr-doc-link">Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum neque elit, pulvinar sit amet pharetra ut, porttitor eget orci. Integer pellentesque </a>
              <ul class="fr-link-stats">
                <li><i class="icon-fr2-Eye"></i> 354</li>
                <li><i class="icon-fr2-message"></i> 72</li>
                <li><i class="icon-fr2-Chat"></i> 998</li>
                <li><i class="icon-fr2-twitter"></i> 42</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <span class="icon-fr2-notice"></span>
              <a href="#" class="fr-doc-link">Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum neque </a>
              <ul class="fr-link-stats">
                <li><i class="icon-fr2-Eye"></i> 354</li>
                <li><i class="icon-fr2-message"></i> 72</li>
                <li><i class="icon-fr2-Chat"></i> 998</li>
                <li><i class="icon-fr2-twitter"></i> 42</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <span class="icon-fr2-notice"></span>
              <a href="#" class="fr-doc-link">Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum neque elit, pulvinar sit amet pharetra ut, porttitor </a>
              <ul class="fr-link-stats">
                <li><i class="icon-fr2-Eye"></i> 354</li>
                <li><i class="icon-fr2-message"></i> 72</li>
                <li><i class="icon-fr2-Chat"></i> 998</li>
                <li><i class="icon-fr2-twitter"></i> 42</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <span class="icon-fr2-notice"></span>
              <a href="#" class="fr-doc-link">Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum neque elit, pulvinar sit amet</a>
              <ul class="fr-link-stats">
                <li><i class="icon-fr2-Eye"></i> 354</li>
                <li><i class="icon-fr2-message"></i> 72</li>
                <li><i class="icon-fr2-Chat"></i> 998</li>
                <li><i class="icon-fr2-twitter"></i> 42</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <span class="icon-fr2-notice"></span>
              <a href="#" class="fr-doc-link">Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum</a>
              <ul class="fr-link-stats">
                <li><i class="icon-fr2-Eye"></i> 354</li>
                <li><i class="icon-fr2-message"></i> 72</li>
                <li><i class="icon-fr2-Chat"></i> 998</li>
                <li><i class="icon-fr2-twitter"></i> 42</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- FR.GOV AGENCY BROWSE (from nav) END -->
      <!-- FR.GOV AGENCY BROWSE (from nav) START -->
      <table class="fr-1-3 fr-push fr-table">
        <thead>
          <tr>
            <th colspan="3">
              <h4 class="with-icon">
                <span class="icon-fr2-Rate"></span>
                Presidential Documents
              </h4>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <strong class="fr-doc-title">Executive Order 13639</strong>
              <a href="" class="fr-doc-link">Establishment of the Presidential Commision on Election Administration</a>
              <span class="fr-doc-date">Wednesday, April 03, 2013</span>
            </td>
          </tr>
          <tr>
            <td>
              <strong class="fr-doc-title">Proclaimation</strong>
              <a href="" class="fr-doc-link">World Autism Awareness, 2013</a>
              <span class="fr-doc-date">Wednesday, April 03, 2013</span>
            </td>
          </tr>
          <tr>
            <td>
              <strong class="fr-doc-title">Notice</strong>
              <a href="" class="fr-doc-link">Continuation of the National Emergency With Respect to Somalia</a>
              <span class="fr-doc-date">Wednesday, April 03, 2013</span>
            </td>
          </tr>
          <tr>
            <td>
              <dl class="fr-monthly-overview">
                <dt><h5 class="underlined">March 2013</h5></dt>
                <dd>2 Executive Orders</dd>
                <dd>18 Proclamations</dd>
                <dd>2 Notices</dd>
                <dd>1 Memorandum</dd>
              </dl>
              <dl class="fr-monthly-overview">
                <dt><h5 class="underlined">April 2013</h5></dt>
                <dd>2 Executive Orders</dd>
                <dd>18 Proclamations</dd>
                <dd>2 Notices</dd>
                <dd>1 Memorandum</dd>
              </dl>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- FR.GOV AGENCY BROWSE (from nav) END -->
    </div>


    <div class="row" id="home-aid-box">
      <div classs="col-md-12">
        <div class="fr-box fr-box-aid">
          <div class="fr-seal-block fr-seal-block-header">
            <div class="fr-seal-content">
              <h6>Reader Aids</h6>
              <div class="row fr-seal-meta">
                <div class="fr-seal-desc">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit leo non sodales egestas. Sed dapibus facilisis felis sed dictum.  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="content-block">
            <div class="fr-2-3">
              <p>Curabitur egestas faucibus ornare. Vestibulum tellus nunc, tempor sed tempus id, adipiscing sed tortor. Pellentesque ullamcorper suscipit odio ut sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec massa id odio viverra lacinia. Vestibulum ac eros eros. Nullam vel nibh gravida, imperdiet justo a.</p>
            </div>
            <div class="fr-1-3 fr-push">
              <p>Curabitur egestas faucibus ornare. Vestibulum tellus nunc, tempor sed tempus id, adipiscing sed tortor.</p>
            </div>
            <div class="clearfix"></div>
            <div class="fr-2-3">
              <h4 class="with-icon lowercase">
                <span class="icon-fr2-Molecular"></span>
                Using FederalRegister.gov
                <a href="" class="more-details">view all</a>
              </h4>
              <ul class="fr-topic-list with-bullets two-col">
                <li>Curabitur egestas faucibus ornare</li>
                <li>Vestibulum tellus nunc, tempor sed tempus id, adipiscing sed tortor.</li>
                <li>Pellentesque ullamcorper suscipit odio ut sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Curabitur egestas faucibus ornare.</li>
              </ul>
              <ul class="fr-topic-list with-bullets two-col">
                <li>Curabitur egestas faucibus ornare</li>
                <li>Vestibulum tellus nunc, tempor sed tempus id, adipiscing sed tortor.</li>
                <li>Pellentesque ullamcorper suscipit odio ut sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Curabitur egestas faucibus ornare.</li>
              </ul>
            </div>
            <div class="fr-1-3 fr-push">
              <dl class="fr-topic-list with-bullets">
                <dt>
                  <h4 class="with-icon lowercase">
                    <span class="icon-fr2-pc"></span>
                    Recent Site Updates
                    <a href="" class="more-details">view all</a>
                  </h4>
                </dt>
                <dd>Curabitur egestas faucibus ornare</dd>
                <dd>Vestibulum tellus nunc, tempor sed tempus id, adipiscing sed tortor.</dd>
                <dd>Pellentesque ullamcorper suscipit odio ut sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
                <dd>Curabitur egestas faucibus ornare.</dd>
                <dd>Curabitur egestas faucibus ornare. Vestibulum tellus nunc, tempor sed tempus id, adipiscing sed tortor.</dd>
              </dl>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="fr-seal-block fr-seal-block-footer">
            <h6>Reader Aids</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- FR.GOV AGENCY BROWSE (from nav) START -->
      <table class="fr-2-3 fr-table">
        <thead>
          <tr>
            <th colspan="3">
              <h4 class="with-icon">
                <span class="icon-fr2-Network-alt"></span>
                Explore Agencies
              </h4>
            </th>
          </tr>
            <tr>
              <th colspan="3">
                <input type="text" class="form-control fr-table-form" placeholder="Go to a specific agency">
              </th>
            </tr>
          <tr>
            <th></th>
            <th width="5%" class="past_7_days" data-tooltip="Articles Published in the Last 7 Days" original-title=""><span class="icon-fr2-Refresh-7"></span></th>
            <th width="5%" class="recently_opened" data-tooltip="Articles with Comment Periods Opened in the Last 7 Days" original-title=""><span class="icon-fr2-Chat"></span></th>
          </tr>
        </thead>

        <tbody>
          <% 10.times do %>
            <tr>
              <td class="agency_name"><a href="/agencies/agriculture-department">Agriculture Department</a></td>

              <td class="count_7_days">
                <a href="/articles/search?conditions%5Bagency_ids%5D%5B%5D=12&amp;conditions%5Bpublication_date%5D%5Bgte%5D=01%2F22%2F2014&amp;utm_content=agencies_last_7&amp;utm_medium=dropdown&amp;utm_source=navigation">15</a>
              </td>

              <td class="comments_recently_opened">
                <a href="/articles/search?conditions%5Bagency_ids%5D%5B%5D=12&amp;conditions%5Bcomment_date%5D%5Bgte%5D=01%2F29%2F2014&amp;conditions%5Bpublication_date%5D%5Bgte%5D=01%2F22%2F2014&amp;utm_content=agencies_opened_recently&amp;utm_medium=dropdown&amp;utm_source=navigation">7</a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!-- FR.GOV AGENCY BROWSE (from nav) END -->
      <!-- FR.GOV AGENCY BROWSE (from nav) START -->
      <table class="fr-1-3 fr-push fr-table">
        <thead>
          <tr>
            <th colspan="3">
              <h4 class="with-icon">
                <span class="icon-fr2-Molecular"></span>
                Explore Topics
              </h4>
            </th>
          </tr>
            <tr>
              <th colspan="3">
                <input type="text" class="form-control fr-table-form" placeholder="Go to a specific topic">
              </th>
            </tr>
          <tr>
            <th></th>
            <th width="5%" class="past_7_days" data-tooltip="Articles Published in the Last 7 Days" original-title=""><span class="icon-fr2-Refresh-7"></span></th>
            <th width="5%" class="recently_opened" data-tooltip="Articles with Comment Periods Opened in the Last 7 Days" original-title=""><span class="icon-fr2-Chat"></span></th>
          </tr>
        </thead>

        <tbody>
          <% 10.times do %>
            <tr>
              <td class="agency_name"><a href="/agencies/agriculture-department">Agriculture Department</a></td>

              <td class="count_7_days">
                <a href="/articles/search?conditions%5Bagency_ids%5D%5B%5D=12&amp;conditions%5Bpublication_date%5D%5Bgte%5D=01%2F22%2F2014&amp;utm_content=agencies_last_7&amp;utm_medium=dropdown&amp;utm_source=navigation">15</a>
              </td>

              <td class="comments_recently_opened">
                <a href="/articles/search?conditions%5Bagency_ids%5D%5B%5D=12&amp;conditions%5Bcomment_date%5D%5Bgte%5D=01%2F29%2F2014&amp;conditions%5Bpublication_date%5D%5Bgte%5D=01%2F22%2F2014&amp;utm_content=agencies_opened_recently&amp;utm_medium=dropdown&amp;utm_source=navigation">7</a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!-- FR.GOV AGENCY BROWSE (from nav) END -->
    </div>
  </div>
</div>
















<!-- BOOTSTRAP SCOPE END -->
</div>
<!-- BOOTSTRAP SCOPE END -->

