<!-- BOOTSTRAP SCOPE START -->
<div class="bootstrap-scope">
<!-- BOOTSTRAP SCOPE START -->

  <div class="wrapper">
    <div class="container fixed">
      <div class="clearfix"></div>

      <div class="row">
        <div class="container fixed">
          <!-- FR.GOV AGENCY BROWSE (from nav) START -->
          <table class="col-md-8 fr-table">
            <thead>
              <tr>
                <th colspan="3">
                  <h4 class="with-icon">
                    <span class="icon-fr2-Eco"></span>
                    Explore Agencies
                  </h4>
                </th>
              </tr>
              <tr>
                <th>
                </th>
                <th class="past_7_days" data-tooltip="Articles Published in the Last 7 Days" original-title=""><span class="icon-fr2-Eco"></span></th>
                <th class="recently_opened" data-tooltip="Articles with Comment Periods Opened in the Last 7 Days" original-title=""><span class="icon-fr2-Eco"></span></th>
              </tr>
            </thead>

            <tbody>
              <% 5.times do %>
                <tr>
                  <td class="agency_name"><a href="/agencies/agriculture-department">Agriculture Department</a></td>

                  <td class="count_7_days">
                    <a href="/articles/search?conditions%5Bagency_ids%5D%5B%5D=12&amp;conditions%5Bpublication_date%5D%5Bgte%5D=01%2F22%2F2014&amp;utm_content=agencies_last_7&amp;utm_medium=dropdown&amp;utm_source=navigation">15</a>
                  </td>

                  <td class="comments_recently_opened">
                    <a href="/articles/search?conditions%5Bagency_ids%5D%5B%5D=12&amp;conditions%5Bcomment_date%5D%5Bgte%5D=01%2F29%2F2014&amp;conditions%5Bpublication_date%5D%5Bgte%5D=01%2F22%2F2014&amp;utm_content=agencies_opened_recently&amp;utm_medium=dropdown&amp;utm_source=navigation">7</a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>

<!-- BOOTSTRAP SCOPE END -->
</div>
<!-- BOOTSTRAP SCOPE END -->
