.doc {
  // This is for the doc area
  position: relative;

  &.doc-official .doc-content{
    // This establishes the color for the: header/footer seals, background images, and possible color scheme
    // ex: class="doc doc-official"
    // notes: Build additional color schemes in the _modules.scss
    @extend .fr-box;
    @extend .fr-box-official;

    background-image: url(../images/elements/fd-doc-official-seal.png);
    background-repeat: no-repeat;
    background-position: 75px 50px;
  }

  &.doc-inspection .doc-content{
    // This establishes the color for the: header/footer seals, background images, and possible color scheme
    // ex: class="doc doc-official"
    // notes: Build additional color schemes in the _modules.scss
    @extend .fr-box;
    @extend .fr-box-inspection;

    background-image: url(../images/elements/fd-doc-inspection-seal.png);
    background-repeat: no-repeat;
    background-position: 75px 50px;
  }

  .doc-nav-wrapper {
    padding-top: 17px;
    position: absolute;
    height: 100%;
    width: 53px;
    z-index: 3;
    top: 0;
    left: -68px;
  }
  .doc-nav {
    color: #A7A9AC;
    background-color: #E6E6E5;
    height: 100%;

    &> li {
      position: relative;
      padding: 16px 0;
      list-style-type: none;
      cursor: pointer;
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
      
      i {font-size: 1.188em;}
      
      span.nav-caret {
        display: none;
        position: absolute;
        z-index: 15;

        &:after {
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 10px solid #d5d5d5;
          position: absolute;
          content: '';
          right: -30px;
          top: 2px;
        }
      }
      &.open {
        background-color: #d5d5d5;
        span.nav-caret {display: inline-block;}
        border-top: 2px solid $color-enhanced;
        border-bottom: 2px solid $color-enhanced;
      }
      &:hover, &.hover  {
        background-color: #d5d5d5;
        color: $color-enhanced;
      }
      &.divider {
        padding:0;
        border:0;
        border-bottom: 1px solid #c4c4c3;
      }
    }
  }
  .doc-content {
    margin-left: 68px;
    z-index: 1;
    width: 744px;

    .content-block {
      padding: 35px 130px 20px 30px !important;
      p {
        font-family: $font-family-serif;
        font: 1.063em;
      }
      h4 {
        font-size: 1.125em;
        text-transform: uppercase;
        font-weight: 800;
      }
      h5 {font-size: 1.063em;}
    }
  }
  .doc-aside {
    position: absolute;
    top:30px;
    right: 0;
    z-index: 2;
    width: 248px;

    .content-block{
      font-size: 0.938em;
      line-height: 1.250em;
      h4 {
        font-size: 1.063em;
        color: #000;
        font-weight: 700;
      }
      h5 {padding-left: 5px;}
      p{
        text-indent: -0.438em;
        padding-left: 10px;

        a{
          display: block;
          padding-left: 5px;
        }
      }
      ul li {list-style-type: none;}
      dl {
        padding: 0 0 0.8125em 0.375em;
        dt {font-weight: 600;}
        dd {
          margin: 0;
          text-indent: -.688em;
          padding-left: 1.125em;
        }
      }
    }
    .doc-details {
      margin-top: 30px;
    }
  }
}
