.fr-topic-list {
  font-size: 14px;
  &.with-bullets {
    dd, li {
      list-style-type: none;
      &:before {
        content: "◼︎";
        color: $color-inspection-light-alt;
        padding-right: 7px;
      }
    }
  }
  &.two-col {
    width: 50%;
    float: left;
    padding-right: 5px;
  }
  &.with-stats {
    ul {
      border:0;
      margin-bottom: 4px;
    }
    li {
      width: 100%;
      padding: 0;
      margin: 0;
      color: #999;
      font-weight: normal;
      font-size: 13px;
      line-height: 17px;

      &:hover{
        background: transparent;
        color: #444;
      }

      i.icon-fr2-Chat {
        color: $color-enhanced;
      }
    }
  }
}