@mixin fr-top-header($main-color, $secondary-color) {
  background-color: $secondary-color;
  
  a { 
    color: $main-color;
  }
  .fr-head-doc-label {
    background-color: $main-color;
  }
  .fr-head-doc-meta {
    background-color: $secondary-color;
  }
}


.fr-head-doc {
  .fr-head-doc-label {
    height: 50px;
    color: #fff;

    i {
      @include opacity(.8);
      font-size: 34px;
      position: relative;
      top: 7px;
      margin-right: 5px;
    }
    h4 {
      margin: 0 !important;
      font-weight: 500;
      display: inline-block;
      text-decoration: underline;
    }
  }

  .fr-head-doc-meta {
    font-size: 15px;

    ul {
      padding: 0;
    }
    li {
      float: left;
      list-style-type: none;
      margin-right: 15px;
      line-height: 50px;
      font-size: 13px;

      &.right {
        float:right;
        font-weight: bold;
      }
    }
    a {
      text-decoration: underline;
    }
    h5 {
      font-size: 15px;
      margin-bottom: 3px;
      color: #444;
    }    
    p {
      font-family: $font-family-sans-serif;
      margin: 0;
      font-size: 15px;
      padding: 10px 0;

      a {
        margin-top: 10px;
        display: block;
      }
    }
  }

  .inspection-topic-list-stats {
    color: #333;
    width: 100%;
    i {
      font-size: 17px;
      vertical-align: middle;
      padding-bottom: .035em;
    }
    div {
      color: $color-inspection;
      float: right;
    }
  }


  &.fr-head-doc-enhanced {
    @include fr-top-header($color-enhanced, $color-enhanced-light);
  }

  &.fr-head-doc-inspection {
    @include fr-top-header($color-inspection, $color-inspection-light);
  }


}