.fr-head-doc {
  .fr-head-doc-label {
    width: 220px;
    float: left;
  }
  .fr-head-doc-meta {
    width: 740px;
    float: left;

    .col-md-6 {
      width: 50%;
      float: left;
    }
  }
}
.nav-home-carousel{
  .carousel-item {
    width: 436px ;
    float: left;
  }
  .carousel-list {
    width: 292px;
    float: left;
    &.fr-push {
      position: relative;
      left: 4.3%;
    }
  }
}
h3, 
h4 {
  &.with-icon .more-details{
    font-size: 13px;
    text-transform: none;
  }
}