.fr-head-doc {
  .fr-head-doc-label {
    width: 220px;
    float: left;
  }
  .fr-head-doc-meta {
    width: 740px;
    float: left;

    .col-md-6 {
      width: 50%;
      float: left;
    }
  }
}
.nav-home-coursel .nav-content {
  .carousel-item {
    width: 428px ;
    float: left;
  }
  .carousel-list {
    width: 292px;
    float: left;
  }
}