$color-inactive:              #777777 !default;
$color-inactive-light:        #CCCCCC !default;

$color-official:              #5797CE !default;
$color-official-light:        #f7fafb !default;
$color-official-light-alt:    #e5f1f8 !default;

$color-enhanced:              #A8BF82 !default;
$color-enhanced-mid:          #c8d8b2 !default;
$color-enhanced-light:        #e3ecda !default;
