@font-face {
	font-family: 'fr2_icons';
	src:asset-url('fr2_icons.eot', 'fonts');
	src:asset-url('fr2_icons.eot?#iefix', 'fonts') format('embedded-opentype'),
		asset-url('fr2_icons.woff', 'fonts') format('woff'),
		asset-url('fr2_icons.ttf', 'fonts') format('truetype'),
		asset-url('fr2_icons.svg#fr2_icons', 'fonts') format('svg');
	font-weight: normal;
	font-style: normal;
}
